VITE_BASE_PATH=/
VITE_APP_BACKEND_URL=https://forecast-fit.asamson.ca
VITE_STRAVA_BACKEND_URL=https://forecast-fit.asamson.ca

STRAVA_CLIENT_ID=your-strava-client-id
STRAVA_CLIENT_SECRET=your-strava-client-secret
STRAVA_REDIRECT_URI=https://forecast-fit.asamson.ca/api/strava/callback
FRONTEND_URL=https://forecast-fit.asamson.ca
